.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
.listContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.characterContainer {
  background-color: white;
  max-width: 700px;
  width: 90%;
  min-height: 60px;
  margin: 10px auto;
  padding: 20px;
}

.toggle {
  height: 26px;
  margin-top: 10px;
}

.more-info-container {
  display: flex;
  flex-wrap: wrap;
}
.more-info {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.more-info strong {
    padding-right: 10px;
}

.hidden {
  display: none;
}